apache-beam~=2.41.0
boto3~=1.24.68
pymongo[srv]~=3.12.3
Flask-PyMongo~=2.3.0
python-dotenv~=0.21.0
pyjwt[crypto] ~= 2.3.0
explainaboard == 0.11.1
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
pre-commit~=2.20.0
marisa_trie~=0.7.7
sacrebleu[ja]~=2.2.1
six~=1.16.0
pandas~=1.5.0
iso-639~=0.4.5
google-cloud-storage~=2.5.0
