apache-beam~=2.41.0
boto3~=1.24.68
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
explainaboard == 0.12.2
Flask-PyMongo~=2.3.0
google-cloud-storage~=2.5.0
iso-639~=0.4.5
marisa_trie~=0.7.7
pandas~=1.5.0
pre-commit~=2.20.0
pyjwt[crypto] ~= 2.3.0
pymongo[srv]~=3.12.3
python-dotenv~=0.21.0
sacrebleu[ja]~=2.2.1
six~=1.16.0
