.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.site-layout .site-layout-header {
  background: #fff;
  height: 55px;
  text-align: right;
  padding: 0 15px;
  position: relative;
}

.site-layout-content {
  height: 100%;
}

.header-items-container {
  height: 55px;
  line-height: 55px;
  display: flex;
  float: right;
  justify-content: space-between;
}

.header-icon {
  padding-right: 10px;
  font-size: 20px;
}

.site-title {
  font-weight: bold;
  color: #fff;
}
