.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(4, 25, 67, 0.852);
}

.flex-container {
  display: flex;
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}

.half-page {
  position: relative;
  width: 100%;
  flex: 1;
}

.instruction-container {
  width: 100%;
  padding-left: 5vw;
  padding-right: 2vw;
  display: flex;
  justify-content: flex-end;
}

.instruction-text {
  min-width: 25vw;
  max-width: 800px;
  font-size: 15px;
  font-weight: 430;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* overrides firebaseui styles*/
.firebaseui-container {
  margin: 0 4vw 0 2vw;
  min-width: 25vw;
  /* The modal is visually wider than the
  text so its max-width is set to a smaller
  value.*/
  max-width: 700px;
}
