import connexion
import os
from explainaboard_web.impl.config import ProductionConfig, StagingConfig, LocalDevelopmentConfig
from {{packageName}} import encoder


# Custom Middleware for CORS headers
# reference: https://github.com/zalando/connexion/issues/357
class CorsHeaderMiddleware(object):
    def __init__(self, app):
        self.app = app

    def __call__(self, environ, start_response):
        def custom_start_response(status, headers, exc_info=None):
            headers.append(('Access-Control-Allow-Origin', '*'))
            return start_response(status, headers, exc_info)

        return self.app(environ, custom_start_response)


def create_app():
    app = connexion.App(__name__, specification_dir='./swagger/')
    app.app.json_encoder = encoder.JSONEncoder
    app.add_api('swagger.yaml', arguments={'title': '{{appName}}'},
                    pythonic_params=True, validate_responses=True)
    app.app.wsgi_app = CorsHeaderMiddleware(app.app.wsgi_app)

    FLASK_ENV = os.getenv('FLASK_ENV')
    if FLASK_ENV == 'production':
        app.app.config.from_object(ProductionConfig())
    elif FLASK_ENV == 'development':
        app.app.config.from_object(LocalDevelopmentConfig())
    elif FLASK_ENV == 'staging':
        app.app.config.from_object(StagingConfig())

    return app


if __name__ == '__main__':
    create_app().run(port={{serverPort}})
