import connexion
from explainaboard_web.impl.init import init
from {{packageName}} import encoder

def create_app():
    app = connexion.App(__name__, specification_dir='./swagger/')
    app.app.json_encoder = encoder.JSONEncoder
    app.add_api('swagger.yaml', arguments={'title': '{{appName}}'},
                    pythonic_params=True, validate_responses=True)

    app.app = init(app.app)
    return app


if __name__ == '__main__':
    create_app().run(port={{serverPort}})
