from typing import List
import {{packageName}}.impl.auth as auth
"""
controller generated to handled auth operation described at:
https://connexion.readthedocs.io/en/latest/security.html
"""
{{#authMethods}}
{{#isApiKey}}
def check_{{name}}(api_key, required_scopes):
    return auth.check_{{name}}(api_key, required_scopes)

{{/isApiKey}}
{{#isBasic}}
def check_{{name}}(username, password, required_scopes):
    return auth.check_{{name}}(username, password, required_scopes)

{{/isBasic}}
{{#isBearer}}
def check_{{name}}(token):
    return auth.check_{{name}}(token)

{{/isBearer}}
{{#isOAuth}}
def check_{{name}}(token):
    return {'scopes': ['read:pets', 'write:pets'], 'uid': 'test_value'}

def validate_scope_{{name}}(required_scopes, token_scopes):
    return set(required_scopes).issubset(set(token_scopes))

{{/isOAuth}}
{{/authMethods}}

