connexion >= 2.10.0
python_dateutil >= 2.6.0
setuptools >= 21.0.0
pymongo[srv]
Flask-PyMongo
swagger-ui-bundle >= 0.0.9
python-dotenv
pyjwt[crypto]
explainaboard == 0.7.8
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
